@{
    ViewData["Title"] = "Atualiza Clientes";
}
<h1>Atualiza o cliente!</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Reescreva corretamente seu nome:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cristiano Ronaldo">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">e-mail:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefone para contato:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="119@5678#0*">
</div>
