@{
    ViewData["Title"] = "Adicionar Clientes";
}
<h1>Adiciona novo cliente!</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Digite seu nome:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cristiano Ronaldo">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Digite seu e-mail:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Digite seu telefone para contato:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="119@5678#0*">
</div>

