@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de cadastro de Clientes</h1>
    <h2>Seja bem vindo!</h2>
    <figure>
        <img src="./img/primagem.png" />
    </figure>
</div>

